.form-group {
    margin-bottom:5px;
}
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-text {
    margin-bottom: 1rem;
}
